*.egg
*.egg-info
*.py[cod]
/*.build
/*.buildinfo
/*.changes
/*.deb
/.coverage
/.coverage.*
/.pytest_cache
/.tox
/build
/cli/build
/cli/dist
/dist
/fluffy/static/**/*.hash
/fluffy/static/app.css
/fluffy/static/pygments.css
/settings.py
/tmp
/venv
!settings/dev_files.py
!settings/dev_s3.py
!settings/prod_s3.py
!settings/test_files.py
settings/
docker-compose.yml
